body{
	background-color: rgb(34,193,195);
}
#box{
	position:absolute;
	left:37%;
	margin-left:-100px;
	width:40%;
	height:auto;
	border:2px solid black;
	border-radius:10px;
}
.required{
	color:red;
}

#box:hover {
	background-color:cyan;
	border:5px solid lightgreen
}

button{
	background:transparent;
}
